/* style.css */

/* General Styles */

/* Header Styling */
#header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

#header h1 {
    font-size: 36px;
    margin: 0;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h3 {
    margin-top: 0;
}

/* Properties Panel (Positioned at bottom-left) */
#property-box {
    position: absolute;
    bottom: 20px;   /* Keep it 20px from the bottom */
    left: 20px;     /* Position it 20px from the left edge */
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    width: 200px;
    z-index: 20;    /* Ensure it sits on top of everything else */
}

/* Items in Scene Panel (Positioned at bottom-right) */
#items-in-scene-box {
    position: absolute;
    bottom: 20px;   /* Keep it 20px from the bottom */
    right: 20px;    /* Position it 20px from the right edge */
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    width: 200px;
    z-index: 20;    /* Ensure it sits on top of everything else */
}

#items-in-scene-box h3, #items-in-scene-box h4 {
    margin-top: 0;
}

/* Objects List Section */
#objects-list {
    margin-bottom: 20px;
}

#object-list {
    list-style-type: none;
    padding: 0;
}

#object-list li {
    cursor: pointer;
}

/* Keybindings List Section */
#keybindings-list {
    margin-top: 20px;
}

#keybindings-ul {
    list-style-type: none;
    padding: 0;
}

#keybindings-ul li {
    margin-bottom: 5px;
    font-size: 14px;
    cursor: pointer;
}

/* Flashing outline for selected object */
.flashing-border {
    animation: flash-border 1s infinite;
    border: 2px solid red;
}

/* Flash animation */
@keyframes flash-border {
    0% { border-color: red; }
    50% { border-color: transparent; }
    100% { border-color: red; }
}

/* Input and Button Styles */
textarea {
    margin-top: 20px;
    margin-bottom: 10px;
}

button {
    padding: 5px 15px;
    margin-top: 10px;
    cursor: pointer;
}

/* Render Area */
#ascii-display {
    position: relative;
    width: 650px;
    height: 400px;
    background-color: #f5f5f5;
    border: 2px solid #ccc;
    overflow: hidden;
}

/* ASCII Art Object Styles */
.ascii-art {
    position: absolute;
    cursor: pointer;
    white-space: pre;
    color: black;
}

/* Selection Highlight */
.selected {
    border: 2px solid blue; /* Customize color for selected outline */
    outline-offset: 2px;
}

.highlight {
    background-color: #ffd700; /* Highlight color */
    font-weight: bold; /* Optional: Makes the highlighted item more visible */
}
